<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.microsoft.dxdevIAP" android:versionCode="2" android:versionName="1.1" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="25" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<application android:label="Demo In-App Purchases" android:icon="@drawable/Icon"></application>
</manifest>